.ff-content-container {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
}

.ff-rundens-smell {
    font-family: "PremierSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px 0;
    margin-top: -20px;
    width: 100%;
    min-width: 333px;
    background-color: #e2d1c2;
}
.ff-rundens-smell-header {
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;

}
.ff-rundens-smell-content {
    padding: 0 30px;
}
.ff-rundens-smell-signature {
    text-align: right;
    font-style: italic;
    padding:10px 30px 0 0;
    font-size: small;
}

.ff-round-facts {
    width: 50%;
    min-width: 375px;
    background-color: #c1ead6;
}
.ff-round-facts .select_style {
    width: 115px;
    padding: 0;
    margin-bottom: 9.8px;
    position: relative;
    border: 0;
    background-color: transparent;
    border-bottom: solid black 1px;
}
.ff-round-facts .select_style:hover {
    background-color: #a9eac4;
}
.ff-round-facts .ff-normal-fact-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: dashed 1px #a7c8f2;
}
.ff-multiple-results-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: dashed 1px #a7c8f2;
}
.ff-multiple-result-facts {
    padding-bottom: 5px;
}
.ff-multiple-result-facts-2 {
    padding-bottom: 5px;
    display: flex;
}
.ff-multiple-result-facts-points{
    width: 15px;
    padding-right: 5px;
}
.ff-multiple-result-facts-player{
    padding-left: 5px;
}

.ff-facts-header {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}

.ff-total-facts {
    width: 50%;
    min-width: 375px;
    background-color: #a7c8f2;
}
.ff-total-facts .ff-normal-fact-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: dashed 1px #a9eac4;
}
.ff-total-facts .ff-multiple-results-container{
    border-bottom: dashed 1px #a9eac4;
}
.ff-total-facts .ff-multiple-result-facts-player{
    padding-left: 15px;
}

.ff-normal-fact-text {
    width: 40%;
    padding: 0 5px;
}

.ff-normal-fact-result {
    width: 60%;
}
