body {
    margin: 0;
    font-family: "PremierSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.overHeader {
    display: flex;
    justify-content: space-between;
    background-color: #00FF87;
    width: 100%;
}

.headerText {
    width: 30%;
    min-width: 330px;
    margin-right: 50px;
}

.headerArt {
    width: 100%;
    margin: 0;
    background: url('./images/fpl_header_art.svg');
    /*background: url('./images/fpl_header_art.svg') no-repeat right -50px bottom;*/
    background-position: 100% 100%;
    vertical-align: middle;
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

h1 {
    font-family: "PremierSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-left: 20px;
}

h2, p, ul, li {
    font-family: "PremierSans-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0 20px 0 20px;
    margin: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}

.dropdownLeagues {
    max-width: 330px;
    width: 100%;
    text-align: left;
}
